.gameId {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 25px;
    padding: 50%;
} 
