
.homePageBackground{
    background-color: grey;
}

.homePageContainer {
    background-color: greenyellow;
    margin-top:  200px;
    width: 100%;
}

h3 {
color: black;
text-align: center;
}

p {
  color: black;
  text-align: center;
}